body
{
}
body.konami
{
	transform: rotate(359deg);
	-webkit-transform: rotate(359deg);
	transition: all 5s;
	-webkit-transition: all 5s;
}

header
{
	background: #FFE98A;
	color: black;
}
header h1 img
{
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
header h1 img:hover
{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

nav#staffMenu li.staffMenu a:hover
{
	background: transparent !important;
}

.button, button
{
	background: #FF9900;
	color: white;
}
.button:hover, button:hover
{
	background: #ffad33;
	color: black;
}
.button.tiny, button.tiny
{
	padding: 8px 12px 8px 12px;
	margin: 0px;
}

.progress .meter
{
	color: white;
}

table
{
	width: 100%;
}

.button-group button
{
	margin: 0px;
}

ul.pagination li.current a
{
	background-color: #ff9900;
}

ul.pagination li.current a:hover
{
	color: black;
	background-color: #ffad33;
}

#content
{
	margin-top: 8px;
}

#clippy
{
	transition: all 2s;
	-webkit-transition: all 2s;
	position: fixed;
	background-image: url("/img/konami.png");
	background-repeat: no-repeat;
	width: 181px;
	height: 176px;
	bottom: 20px;
	right: -200px;
}
#clippy.persistent
{
	right: 40px;
	width: 94px;
	height: 86px;
	background-image: url("/img/clippy.png");
}
#clippy.konami
{
	right: 40px;
	background-image: url("/img/konami.png");
	width: 181px;
	height: 176px;
}

.alert-box
{
	margin: 0px;
}
.expired
{
	opacity: 0.9;
}

#editor
{
	position: relative;
	width: 100%;
	height: 500px;
}

.weDontLikeSpamBots
{
	display: none;
}

.fb-like-box span, .fb-like-box iframe
{
	width: 100% !important;
}
