/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
/nbproject/private/*
/public/build
/public/export
/.phpunit.cache
.phpunit.result.cache
__pycache__/
/tests/e2e/reports/*
!/tests/e2e/reports/.gitkeep
